.header {
  background-color: #4a90e2;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleButton {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.toggleButton:hover {
  text-decoration: underline;
}